<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Plantir</title>

	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>
<body>



<p>Edit your tile type</p>
<form action="/changetiletype" method="POST">
  <input list="tiletypes" name="tiletype">
  <datalist id="tiletypes">
    <option value="House">
    <option value="Grass">
    <option value="Sunflower">
  </datalist>
  <input type="hidden" name="gardenid" value="" id="token">
  <button type="submit">Change</button>
</form>

<script>
function getGardenId() {
    var id = location.pathname;
    var x = document.getElementById("token").value = id;
}
getGardenId();
</script>

<hr>
<p>Soil properties</p>
<form action="/changeproperties" method="POST">
  <select name="soiltype">
  	<option value="loam">Loam</option>
  	<option value="sandy">Sandy</option>
  	<option value="clay">Clay</option>
  	<option value="silty">Silty</option>
  	<option value="peaty">Peaty</option>
  </select>
  <select name="soilsunlight">
  	<option value="none">None</option>
  	<option value="low">Low</option>
  	<option value="moderate">Moderate</option>
  	<option value="high">High</option>
  </select>
  <select name="soilmoisture">
  	<option value="none">None</option>
  	<option value="low">Low</option>
  	<option value="moderate">Moderate</option>
  	<option value="high">High</option>
  	<option value="waterlogged">Waterlogged</option>
  </select>
  <input type="hidden" name="gardenid" value="" id="token">
  <button type="submit">Submit</button>
</form>

<hr>

  Your tile:
	<ul class="tiles">
	  <% for(var i=0; i<tiles.length; i++) {%>
	    <li class="tile"><b>Tile contains:</b><br>
	      <span>Tile ID: <%= tiles[i]._id %></span><br>
	      <span>Tile type: <%= tiles[i].tiletype %></span><br>
	      <span>Tile type ID: <%= tiles[i].tiletypeid %></span><br>
	    </li>
        <li><b>Soil properties:</b><br>
			<span>Type: <%= tiles[i].properties.type %></span><br>
	  		<span>pH Balance: <%= tiles[i].properties.ph %></span><br>
	  		<span>Sunlight: <%= tiles[i].properties.sunlight %></span><br>
	  		<span>Moisture: <%= tiles[i].properties.moisture %></span>
	    </li>
	  <% } %>
	</ul>


</body>

</html>